<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} | Webedit</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h2>Hey, {{ app.user.username }}!</h2>
        {% else %}
            <h2>Welcome to Webedit.</h2>
        {% endif %}

        <ul>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'layout.profile'|trans }}</a></li>
            <li><a href="{{ path('fos_user_change_password') }}">{{ 'change_password.submit'|trans }}</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans }}</a></li>
        {% else %}
            <li><a href="{{ path('root') }}">Home</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans }}</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans }}</a></li>
            <li><a href="{{ path('fos_user_resetting_request') }}">{{ 'layout.reset'|trans }}</a></li>
        {% endif %}
        </ul>

        {% for key, message in app.session.getFlashes %}
            <div class="alert alert_{{key}}">{{ message|trans }}</div>
        {% endfor %}

        {% block body %}
            <h3>{% block fos_user_header %}{% endblock %}</h3>
            {% block fos_user_content %}{% endblock %}
        {% endblock %}
    </body>
</html>
