<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} | {{ app_name }}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <h2>Welcome to {{ app_name }}.</h2>

        <ul>
            <li><a href="{{ path('root') }}">Home</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans }}</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans }}</a></li>
            <li><a href="{{ path('fos_user_resetting_request') }}">{{ 'layout.reset'|trans }}</a></li>
        </ul>

        {% for key, message in app.session.getFlashes %}
            <div class="alert alert_{{key}}">{{ message|trans }}</div>
        {% endfor %}
            <!-- div class="info info_}}key}}"
            adicionar no css info_error   
            -->

        {% block body %}
            <h3>{% block fos_user_header %}{% endblock %}</h3>
            {% block fos_user_content %}{% endblock %}
        {% endblock %}
    </body>
</html>
