{% extends 'SiriuxUserBundle:Admin:__section.html.twig' %}

{% form_theme edit_form 'SiriuxAdminBundle:Form:fields.html.twig' %}

{% block subtitle %}
    {% if not current_user %} Edit {% else %} Profile {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        $(":submit[name=update]").click(function() {
            $("#user_update_form").submit();
        });
        $('input').keypress(function(e) {
            if (e.keyCode == 13) {
                $('#user_update_form').submit();
            }
        });
        {% if not current_user %}
        $(":submit[name=delete]").click(function() {
            if (confirm("You are about to delete a user.\nIt cannot be restored at a later time! Continue?")) {
                $("#user_delete_form").submit();
            }
        });
        {% endif %}
    });
    </script>
{% endblock%}

{% block body %}
<article class="module width_full">
    <header><h3>Update {% if not current_user %}User Information{% else %}Profile{% endif %}</h3></header>
    <div class="module_content">
        <form id="user_update_form" action="{{ path('users_update', { 'id': user.id }) }}" method="post">
            {{ form_widget(edit_form) }}
        </form>
        <form id="user_delete_form" action="{{ path('users_delete', { 'id': user.id }) }}" method="post">
            {{ form_widget(delete_form) }}
        </form>
    </div>
    <footer>
        <div class="submit_link">
            <input type="submit" name="update" value="Update" class="alt_btn" />
            {% if not current_user %}
            <input type="submit" name="delete" value="Delete" class="delete_btn" />
            {% endif %}
            or <a href="{{ path('users') }}">Cancel</a>
        </div>
    </footer>
</article>
{% endblock %}
