{% extends '::user.html.twig' %}


{% block breadcrumb %}
<a href="{{ path('list_page') }}">List Pages</a>
<div class="breadcrumb_divider"></div>
<a class="current">Edit Page</a>
{% endblock %}

{% block body %}
 <form action="{{ path('update_page', { 'id' : page.id }) }}" method="post">
<article class="module width_full">
    <header><h3>Edit Page</h3></header>
    <div class="module_content">
        <fieldset>
            <label>Page Title</label>
            <input type="text" name="p_title" value="{{ page.block('p_title').content }}"/>
        </fieldset>
        <fieldset>
            <label>Header Image</label>
            <input type="file" name="header_img"/>
        </fieldset>
        <fieldset>
            <label>Menu</label>
            <select name="p_menu">
                <option value="0">--- Choose Menu ---</option>
                    {%for menu in menus%}
                    <option value="{{menu.id}}" {% if page.menu is sameas(menu) %}selected="selected"{%endif%}>{{menu.title}}</option>
                    {%endfor%}
            </select>
        </fieldset>    
        <fieldset>
            <label>Body</label>
            <textarea class="tinymce" rows="12" data-theme="advanced" name="p_body">{{ page.block('p_body').content }}</textarea>
        </fieldset>
        <fieldset>
            <label>Footer</label>
            <textarea class="tinymce" rows="12" data-theme="simple" name="p_footer" >{{ page.block('p_footer').content }}</textarea>
        </fieldset>    
    </div>
    <footer>
            <div class="submit_link">
                <input type="submit" value="Update" class="alt_btn" />
                <a href=""><button value="Preview">Preview</button></a>
                or <a href="{{ path('list_page') }}">Cancel</a>
            </div>
    </footer> 
</article>   
         
</form>

{% endblock %}