{% extends '::user.html.twig' %}

{% block breadcrumb %}
<a class="current">Add New Page</a>
{% endblock %}

{% block body %}
<article class="module width_full">
        <header><h3>Add new page</h3></header>
        <form method="post" action="{{ path('create_page') }}">
        <div class="module_content">
                Page title: <input type="text" name="p_title"><br/><br/>    
                Choose template:<br/>
                <table width="100%">
                    <tr>
                        <td align="center"><img src="{{ asset('/public/images/temp1.jpg')}}" width="250" height="350"/><br/>Template 1<input type="radio" name="template" value="t1" /></td>
                        <td align="center"><img src="{{ asset('/public/images/temp1.jpg')}}" width="250" height="350"/><br/>Template 2<input type="radio" name="template" value="t1" /></td>
                        <td align="center"><img src="{{ asset('/public/images/temp1.jpg')}}" width="250" height="350"/><br/>Template 3<input type="radio" name="template" value="t1" /></td>
                    </tr>
                    <tr><td><br/></td></tr>
                </table>
        </div>
        <footer>
            <div class="submit_link">
                <input type="submit" value="Create" class="alt_btn" />
                or <a href="{{ path('root') }}">Cancel</a>
            </div>
        </footer> 
     </form>
</article>    
{% endblock %}