{% extends 'SiriuxWebeditBundle:Admin/Template:__section.html.twig' %}

{% block subtitle %}Edit{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        $(":submit[name=update]").click(function() {
            $("#update_form").submit();
        });
        $('input').keypress(function(e) {
            if (e.keyCode == 13) {
                $('#update_form').submit();
            }
        });
        $(":submit[name=delete]").click(function() {
            if (confirm("You are about to delete a template.\nIt cannot be restored at a later time! Continue?")) {
                $("#delete_form").submit();
            }
        });
    });
    </script>
{% endblock%}


{% block body %}
<article class="module width_3_quarter">
    <header><h3>Edit template</h3></header>
    <div class="module_content">
        <form id="update_form" action="{{ path('template_update', { 'id': template.id }) }}" method="post">
            {{ form_widget(edit_form) }}
        </form>
        <form id="delete_form" action="{{ path('template_delete', { 'id': template.id }) }}" method="post">
            {{ form_widget(delete_form) }}
        </form>
    </div>
    <footer>
        <div class="submit_link">
            <input type="submit" name="update" value="Update" class="alt_btn" />
            <input type="submit" name="delete" value="Delete" class="delete_btn" />
            or <a href="{{ path('templates') }}">Cancel</a>
        </div>
    </footer>
</article>

{% include 'SiriuxWebeditBundle:Admin/Template:_help.html.twig' %}

{% render  'SiriuxWebeditBundle:Admin\\Template:assets' with {'id': template.id} %}

{% endblock %}
