{% extends 'SiriuxWebeditBundle:Admin/Template:__section.html.twig' %}

{% block subtitle %}List{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        $("form.trash_template").submit(function() {
            return confirm("You are about to delete a template.\nIt cannot be restored at a later time! Continue?");
        });
        $('#add_new').click(function() {
            window.location = "{{ path('template_new') }}"
        });
    });
    </script>
{% endblock%}

{% block body %}
<article class="module width_full">
    <header>
        <h3 class="tabs_involved">Templates List</h3>
    </header>

    <div class="tab_container">
        <div class="tab_content">
            <table class="tablesorter" cellspacing="0">
                <thead>
                    <tr>
                        <th style="text-align:center">ID</th>
                        <th>Name</th>
                        <th>Creator</th>
                        <th style="text-align:center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for template in templates %}
                    <tr>
                        <td style="text-align:center">{{ template.id }}</td>
                        <td>{{ template.name }}</td>
                        <td><a href="{{ path('users_edit', { 'id': template.user.id }) }}" title="Edit user">{{ template.user.username }}</a></td>
                        <td style="text-align:center">
                            <a href="{{ path('template_edit', { 'id': template.id }) }}" title="Edit template"><img src="{{ asset('bundles/siriuxadmin/images/icn_edit.png') }}" alt="edit" /></a>
                            <form action="{{ path("template_delete", {'id': template.id}) }}" method="post" class="trash_template" style="display:inline;">
                                {{ form_widget(delete_forms[template.id]._token) }}
                                {{ form_widget(delete_forms[template.id].id) }}
                                <input type="image" src="{{ asset('bundles/siriuxadmin/images/icn_trash.png') }}" class="trash_template" title="Delete template" />
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4" style="text-align:center"><em>No templates yet, but you can add a new one!</em></td>
                    </tr>
                    {% endfor %}
            </tbody>
            </table>

        </div>
    </div>

    <footer>
        <div class="submit_link">
            <input id="add_new" type="submit" value="Add New" title="Add new template" class="alt_btn" />
        </div>
    </footer>
</article>
{% endblock %}